@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* ##------------- Page --------------## */

html {
  height: 100%;
}
  
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  font-weight: 500;
}

.moitie-ecran {
  flex-direction: column;
  margin-right: 10%; 
  margin-left: 10%;
}


/* ##------------- Title --------------## */

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 8px;
}

.title-home {
  font-size: 55px;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}


/* ##------------- Button --------------## */

.action-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}
.action-button:hover {
  background-color: gray;
}

/* Home sweet home */

.home {
  font-size: 16px;
  color: #fff;
  background-color: #333333b7;
  border-radius: 7px;
  padding: 2px;
  float: right;
}


/* ##------------- The LED Website® --------------## */

.meter {
  display: flex;
  overflow: hidden;
  background-color: #e2e8f0;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  height: 4rem;
}
.meter span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faf089;
  text-align: center;
  white-space: pre;
  font-weight: 700;
  font-size: 1.5rem;
  transition: width 2s ease;
}

/* button */

.on {
  background-color: #faf089;
}
.off {
  background-color: #333333b7;
}
.up {
  background-color: #a2d6ab;
  margin-left: 4%;
}
.down {
  background-color: #e57373;
}

.reverse {
  background-color: #333333b7;
  float: right;
}

/* ##------------- The (Reverse) LED Website® --------------## */

.led-container {
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border: 5px solid #999;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
}

.led-on {
  background-color: #faf089;
  box-shadow: 0 0 50px #fff155;
}

/* button */

.back {
  background-color: #333333b7;
  margin-top: 3%;
}

/* ##------------- The Tetris Website® --------------## */

.moitie-ecran-tetris {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin-top: 2%;
  text-align: center;
}

.score {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}

/* button */

.play {
  font-size: 100px;
  color: #fff;
  background-color: #e57373;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: 35%;
}

.game_over {
  font-size: 50px;
  color: #fff;
  background-color: #333333b7;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: 35%;
}

.play_again {
  font-size: 50px;
  color: #fff;
  background-color: #e57373;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: 55%;
}

.right {
  font-size: 20px;
  background-color: #333333b7;
  text-align: center;
  position: absolute;
  top: 30%;
  transform: translateX(-210%);
}

.left {
  font-size: 20px;
  background-color: #333333b7;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translateX(-244%);
}

.turn {
  font-size: 20px;
  background-color: #333333b7;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateX(-228%);
}

.gravity {
  font-size: 20px;
  background-color: #333333b7;
  text-align: center;
  position: absolute;
  top: 60%;
  transform: translateX(-184%);
}


.give_up {
  color: #fff;
  background-color: #d2b48c00;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  position: absolute;

}

.giant {
  background-color: #333333b7;
  text-align: center;
}

/* ##------------- The (Giant) Tetris Website® --------------## */

.moitie-ecran-tetris-giant {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin-top: 2%;
  text-align: center;
}

.score-giant {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-bottom: 8px;
  position: absolute;
  top: 80%;
  left: 4%;
}

/* button */

.play-giant {
  font-size: 100px;
  color: #fff;
  background-color: #e57373;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: 40%;
  left: 43.3%;
}

.right-giant {
  font-size: 30px;
  background-color: #333333b7;
  text-align: center;
  position: absolute;
  top: 8.5%;
  left: 90%;
}

.left-giant {
  font-size: 30px;
  background-color: #333333b7;
  text-align: center;
  position: absolute;
  top: 79%;
  left: 91.5%;
}

.down-giant {
  font-size: 30px;
  background-color: #333333b7;
  text-align: center;
  position: absolute;
  top: 8.5%;
  left: 80%;
}

.turn-giant {
  font-size: 30px;
  background-color: #333333b7;
  text-align: center;
  position: absolute;
  top: 79%;
  left: 84%;
}

.game_over-giant {
  font-size: 50px;
  color: #fff;
  background-color: #333333b7;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: 36%;
  left: 41%;
}

.play_again-giant {
  font-size: 50px;
  color: #fff;
  background-color: #e57373;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: 53%;
  left: 40.5%;
}

.give_up-giant {
  color: #fff;
  background-color: #d2b48c00;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  top: 82%;
  left: 54%;
}

.mini-giant {
  background-color: #333333b7;
  text-align: center;
}

/* ##------------- The Mystery Website® --------------## */

.mystery-button {
  width: 350px; /* Largeur du bouton rond */
  height: 350px; /* Hauteur du bouton rond */
  border-radius: 50%; /* Transforme le bouton en cercle */
  font-size: 62px; /* Taille de la police augmentée */
  font-weight: bold;
  background-color: red;
  color: white;
  transition: background-color 0.1s ease;
}
.mystery-button:hover {
  background-color: darkred;
}

/* ##------------- Finite Automata --------------## */

.stickman {
  font-size: 20px;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
}
.head, .body, .right-arm, .left-arm, .right-leg, .left-leg {
  width: 10px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
}
.head {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: linear-gradient(to top, #e3d2bd, #e3d2bd, #e3d2bd, #744c1c);

  top: 100px;
}
.body {
  background-color: #e57373;
  background: linear-gradient(to bottom, #e57373, #e57373, #87CEEB);
  top: 135px;
}
.right-arm {
  background: linear-gradient(to bottom, #e57373, #e57373, #e3d2bd, #e3d2bd, #e3d2bd);
  transform: rotate(45deg) translateY(80%);
  top: 115px;
}
.left-arm {
  background: linear-gradient(to bottom, #e57373, #e57373, #e3d2bd, #e3d2bd, #e3d2bd);
  transform: rotate(-45deg) translateY(80%);
  top: 115px;
}
.right-leg {
  background: linear-gradient(to bottom, #87CEEB, #87CEEB, #e3d2bd);
  transform: rotate(-30deg) translateX(100%) translateY(50%);
  top: 170px;
}
.left-leg {
  background: linear-gradient(to bottom, #87CEEB, #87CEEB, #e6d7c4);
  transform: rotate(30deg) translateX(-100%) translateY(50%);
  top: 170px;
}

.front {
  width: 110px;
  height: 160px;
  background-color: #ffffffec;
  position: absolute;
  top: 300%;
}
.rear {
  width: 110px;
  height: 160px;
  background-color: #ffffffec;
  position: absolute;
  top: 300%;
}

.gate-1 {
  position: absolute;

  width: 10px;
  height: 60px;
  background: linear-gradient(to bottom, black, grey, black);
  border-radius: 10px;
  top: 375px;
  left: 43%;
}

.gate-2 {
  position: absolute;

  width: 10px;
  height: 60px;
  background: linear-gradient(to bottom, black, grey, black);
  border-radius: 10px;
  top: 375px;
  left: 56.9%;
}
.gate-3 {
  position: absolute;

  width: 900px;
  height: 10px;
  background: linear-gradient(to right, black, grey, black, black, grey, black, black, black, grey, black, black, grey, black);
  border-radius: 10px;
  top: 450px;
  left: 17%;
  
}

.gate-door {
  width: 200px;
  height: 10px;

  background-color: #faf089;
  background: linear-gradient(to right, #faf089, #faf089, #faf089, grey, #faf089, #faf089, #faf089, grey, #faf089, #faf089, #faf089, grey, #faf089, #faf089, #faf089, grey, #faf089, #faf089, #faf089);
  border-radius: 10px;

  position: absolute;
  transform-origin: left center;
  transition: transform 1s ease;

  top: 375px;
  left: 43%;
}
.opened {
  transform: rotate(-90deg);
}

.tableau {
  border-collapse: collapse;

  position: absolute;
  bottom: 10%;
  left: 36%;
}
.tableau tr {
  height: 30px;
}
.tableau td {
  border: 1px solid #000;
  width: 80px;
  text-align: center;
}